@media ( max-width: 1600px)
    .main__header_items
        padding: 0 155px
    .main__item 
        h1
            font-size: 42px    
        h2
            font-size: 26px
            margin-top: 34px
    .main__form
        h1
            font-size: 32px
    .visible__menu
        left: 666px
    .visible__menu_about
        left: 558px    



@media ( max-width: 1200px)
    .container
        width: 80%
    .main__header_items
        padding: 0
    .main__item 
        h1
            font-size: 38px
    .main__subtitle
        li
            font-size: 21px             
    .main__box
        grid-template-columns: 65% 27% 70px
    .main__items
        justify-content: space-around
        width: 61%
        li
            margin: 0
    .main__phone
        text-align: center
    .visible__menu
        left: 448px    
    .visible__menu_about
        left: 350px
    .promo__widget
        padding: 0 40px




@media ( max-width: 992px)
    .main__items
        display: none
    .main__header
        position: static
        background-color: rgba(0, 0, 0, 0.0)
    .container
        padding-top: 10px
    .main__phone
        font-size: 20px
    .main__item 
        h1
            font-size: 34px
    .main__subtitle 
        li
            font-size: 19px
    .main__item 
        h2
            font-size: 24px
            margin-top: 20px                                        
    .main__box
        grid-template-columns: 63% 30% 70px
    .container
        width: 90%
    .main__social 
        .social
            height: 55px
            width: 55px        
    .main__header 
        padding: 20px 0 10px 0
    .main__header_items
        justify-content: start
        padding-left: 80px
        
    .main__phone
        display: none
    .hamburger
        display: flex
        top: 40px
        right: 35px
    .mobile__menu
        display: block
    .modalbutton
        display: inline-block
        margin-left: 440px
    .promo__phone
        display: inline-block    




@media ( max-width: 768px)
    .main__box
        grid-template-columns: 75% 50px
        grid-template-rows: 415px
        justify-content: center
    .main__form
        display: none
    .main__subtitle 
        li
            line-height: 35px
    .main__item 
        h2
            font-size: 22px
    .main__header_items
        padding-left: 60px
    .hamburger
        top: 38px
    .modalbutton
        display: inline-block
        margin-left: 250px
    .aboutus__wrapper   
        display: flex
        flex-direction: column
    .aboutus__descr
        padding: 0 
    .promo__widget
        padding: 0   
    .promo__wrapper__item
        column-gap: 10px          


@media ( max-width: 576px)
    .modalbutton
        margin-left: 60px
    .mobile__menu
        width: 50%
    .container
        width: 90%
    .main__item 
        h1
            font-size: 28px
            margin: 10px 0
    .main__box
        grid-template-rows: 365px
    .main__subtitle 
        padding-left: 25px    
        li
            line-height: 30px
    .promo__wrapper__item
        grid-template-columns: minmax(180px ,260px)
        grid-template-rows: repeat(4, minmax(260px, auto))      



@media ( max-width: 480px)
    .main__header_items
        padding-left: 5px
    .hamburger
        right: 23px
        top: 42px
    .modalbutton
        margin-left: 45px
    .main__item 
        h1
            font-size: 24px   
    .main__item 
        h2
            font-size: 19px
    .main__box
        grid-template-columns: 80% 50px
        grid-template-rows: 330px
    .main__social 
        .social
            height: 45px
            width: 45px
    .promo__widget
        flex-direction: column
        gap: 20px
        height: auto 
        svg
            margin-top: 20px   
    .promo__widget__btn
        margin-bottom: 20px        


@media ( max-width: 420px)
    .container
        width: 97%
    .hamburger
        right: 20px
        top: 31px
    .modalbutton
        margin-left: 45px
    
    .main__logo 
        img                 
            height: 50px
            width: 150px
    .main__subtitle 
        li
            line-height: 25px


@media ( max-width: 400px)
    .container
        width: 97%
    .modalbutton
        margin-left: 21px
    
    .main__subtitle 
        li
            line-height: 20px
            font-size: 18px
    .main__item 
        h1
            font-size: 21px
    .mobile__menu                                     
        width: 60%
    .main__box
        column-gap: 7px
        grid-template-columns: 85% 50px
        grid-template-rows: 290px    
    .main__header
        height: 83px
        margin-bottom: 30px
    .aboutus .title
        font-size: 21px
    .title
        font-size: 21px        



@media ( max-width: 350px) 
    .main__subtitle 
        li
            line-height: 18px
            font-size: 17px
    .hamburger
        width: 28px
        height: 22px
        right: 16px
        top: 26px
        span
            width: 28px
    .modalbutton
        height: 37px
        width: 114px    
    .main__header
        padding: 10px 0 10px 0
    .mobile__menu                                     
        width: 70%              
