@media ( max-width: 1600px)
    .main__header_items
        padding: 0 155px
    .main__item 
        h1
            font-size: 42px    
        h2
            font-size: 26px
            margin-top: 34px
    .main__form
        h1
            font-size: 32px
    .visible__menu
        left: 666px
    .visible__menu_about
        left: 558px    



@media ( max-width: 1200px)
    .container
        width: 80%
    .main__header_items
        padding: 0
    .main__item 
        h1
            font-size: 38px
    .main__subtitle
        li
            font-size: 21px             
    .main__box
        grid-template-columns: 65% 27% 70px
    .main__items
        justify-content: space-around
        width: 61%
        li
            margin: 0
    .main__phone
        text-align: center
    .visible__menu
        left: 448px    
    .visible__menu_about
        left: 350px

    